/* Additiona css for pakhmutov.ru */

.body-container {
	font-family: -apple-system,BlinkMacSystemFont,Arial,sans-serif;
}

.text-section .p-item {
    padding-bottom: 20px;
    color: #111;
}
.book-spread-section__p-item {
    font-size: 1rem;
    line-height: 1.3;
    margin-bottom: 12px;
}
.book-card {
	margin-bottom: 20px;
	gap: 20px;
}
.book-card__title {
    line-height: 120%;
    font-style: italic;
    font-size: .65em;
    color: #666;
}
.features-list__li-item{
    font-size: .7em;
    line-height: 147%;
}
.pages-img{
	margin-top: 20px;
}
.technical-section__features-wrapper {
	padding-top: 20px;
}
.books-section{
    gap: 10px;
}
.text-section--book-hgroup .p-item {
	margin-bottom: 0px;
}
.major-article__technical-section technical-section {
	margin-top: 20px;
}	
hr {
	border-bottom: 2px solid #999;	
}
